<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsImage</key>
					<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1488517903289&amp;di=6a9490a6bfa726ba0d6c8d03b0a3f92d&amp;imgtype=0&amp;src=http%3A%2F%2Fimg000.hc360.cn%2Fy3%2FM03%2F63%2F6E%2FwKhQh1VNxvKEPtg5AAAAACTDUh0961.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>宽松圆领长袖t恤打底衫女春秋时尚印花体恤女简约T上衣韩版女装潮</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>New item</key>
					<string></string>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>8288</real>
					<key>realPrice</key>
					<real>6888</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>htcvive官方旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1488517883043&amp;di=ea370a487b734e1bfad0316f91de1b9a&amp;imgtype=0&amp;src=http%3A%2F%2Fimg008.hc360.cn%2Fy5%2FM07%2FA4%2FB9%2FwKhQUVXUtReEYBIiAAAAANlxtg8812.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>短袖T恤女夏装2016韩版新款V领纯色体恤小衫修身半袖上衣服打底衫
</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>38</integer>
					<key>realPrice</key>
					<integer>19</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>htcvive官方旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://gd4.alicdn.com/imgextra/i4/2169794168/TB2CvHigJBopuFjSZPcXXc9EpXa_!!2169794168.jpg_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>韩版潮学生宽松卫衣女带帽套头加绒加厚连帽上衣服秋冬装新款外套
</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>299</integer>
					<key>realPrice</key>
					<integer>199</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>htcvive官方旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>htcvive官方旗舰店</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsImage</key>
					<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1488517858618&amp;di=6fd13141c3a81267e2bdc79c80181fe9&amp;imgtype=0&amp;src=http%3A%2F%2Fwww.2298.com%2FUploadStorage%2F169222%2Fdf2a86939d822ddc58be9a07871a6fc0.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1488517337594&amp;di=35e03b6819dce7db13aa16844b7ce624&amp;imgtype=0&amp;src=http%3A%2F%2Fimg3.tbcdn.cn%2Ftfscom%2Fi1%2F56651352%2FTB2z4g8Xai5V1BjSszbXXb0hVXa_%2521%252156651352.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://gd4.alicdn.com/imgextra/i1/2169794168/TB2GdigaWbyQeBjy1XbXXa9yXXa_!!2169794168.jpg_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>美年大健康旗舰店00</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsImage</key>
					<string>https://gd2.alicdn.com/imgextra/i4/73861778/TB2nAGQeR8kpuFjSspeXXc7IpXa_!!73861778.jpg_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://gd1.alicdn.com/imgextra/i2/73861778/TB2dXkffhXlpuFjSsphXXbJOXXa_!!73861778.jpg_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>美年大健康旗舰店11</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>goodsImage</key>
					<string>https://gd3.alicdn.com/imgextra/i4/2494414771/TB26Od4sFXXXXbvXXXXXXXXXXXX_!!2494414771.png_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://gd3.alicdn.com/imgextra/i4/0/TB1CCB0KXXXXXXCXXXXXXXXXXXX_!!0-item_pic.jpg_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsImage</key>
					<string>https://gd3.alicdn.com/imgextra/i1/2494414771/TB2ICcLoVXXXXXFXXXXXXXXXXXX_!!2494414771.jpg_400x400.jpg</string>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>美年大健康旗舰店22</string>
			<key>sid</key>
			<string>3</string>
		</dict>
	</array>
	<key>success</key>
	<true/>
</dict>
</plist>
