<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>3期免息【赠3款应用】HTC VIVE虚拟现实头盔vr游戏智能眼镜htcvr
3期免息【赠3款应用】HTC VIVE虚拟现实头盔vr游戏智能眼镜htcvr
</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>New item</key>
					<string></string>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>8288</real>
					<key>realPrice</key>
					<real>6888</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>htcvive官方旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>短袖T恤女夏装2016韩版新款V领纯色体恤小衫修身半袖上衣服打底衫
</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>38</integer>
					<key>realPrice</key>
					<integer>19</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>htcvive官方旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>韩版潮学生宽松卫衣女带帽套头加绒加厚连帽上衣服秋冬装新款外套
</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>299</integer>
					<key>realPrice</key>
					<integer>199</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>htcvive官方旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>htcvive官方旗舰店</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>美年大健康旗舰店00</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>美年大健康旗舰店11</string>
			<key>sid</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>items</key>
			<array>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>品质回馈1</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>5320</integer>
					<key>realPrice</key>
					<integer>5320</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>美年大健康旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>5320</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>美年大健康旗舰店22</string>
			<key>sid</key>
			<string>3</string>
		</dict>
	</array>
	<key>success</key>
	<true/>
</dict>
</plist>
